mixin forgotForm()
  form.form(action='/account/forgot' method='POST')
    h2 Did you forgot your password ?
    label(for='email') Email
    input(type='email' name='email')

    .inner
      br
      input.button(type='submit' value='Recover Password →')



      
